.nav-cliente-logo{
  width: 40px;
  float: left;
  margin-right: 10px;
  margin-top: -8px;
}

.nav-admin-logo{
  width: 40px;
  float: left;
  margin-right: 10px;
  margin-top: -5px;
}

.login-icono {
  width: 45px;
  height: 45px;
  padding-bottom: 5px;
}

.sm-object{
  width: 40px;
}

.color-timeline{
  background: #f0f3f4;
}

.chats .name {
  color: #333;
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  text-decoration: none;
  margin-left: 76px;
}

.timeline .timeline-body-eliminar {
  margin-left: 25%;
  margin-right: 54%;
  background: #fff;
  position: relative;
  padding: 12px 30px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
.timeline .timeline-body-eliminar:before {
  content: '';
  display: block;
  position: absolute;
  border: 10px solid transparent;
  border-right-color: #fff;
  left: -20px;
  top: 20px;
}

.center{
  text-align: center;
}
.size-label{
  font-size: 12px;
}
/*.sidebar .nav>li.expand>a, .sidebar .nav>li>a:focus, .sidebar .nav>li>a:hover {
  background: #00acac;
  color: #fff;
}*/
.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 34px!important;
  font-size: 12px;
}

.error {
  border-color: #FF9393;
  color: #FF9393;
}
.campo-requerido{
  padding: 8px 0px 0px 0px;
  float: left;
}